/* seletor global= seleciona todos os elementos  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/* seletor pela tag */
p {
   color: darkblue;
}

main{
    margin-top: 1rem;
}

/* seletor pela classe */

.paragrafo{
    border: 1px solid cadetblue;
    color: cornflowerblue;
    margin-top: 1rem;
}

/* seletor pelo id */
#titulo{
    color: darkslateblue;
    margin-bottom: 1rem;
}

/* seletor pelo atributo */
input[type="password"] {
    font-size: 3rem;
}



/* sletor por desdenstes */
.login-form input{
    font-size: 2rem;
    color: blueviolet;
}

/* filhos diretos */
.login-form > input{
    color: crimson;
    width: 10rem;
}

/* pseudo-classes */
.cadastro-form div:nth-of-type(2) {
    background: #ffcbdb ;
}